*{margin:0; padding:0;}
a{text-decoration:none;}
body{
    font-family: 'Pretendard';
    font-size: 16px;
    line-height: 26px;
}

/* 배경색상 */
.brand1{
    background-image: linear-gradient(180deg,#c7b9a9,#7a665d);
}

/* 이미지 크기 */
img{
    width: 80%;
	max-width:1320px;
    display: block;
    margin: auto;
}

/* 버튼 */
.btn_1 {
	list-style: none;
	position: fixed;
	bottom: 50px;
	right: 50px;
	text-align: center;
	z-index: 99;
}

.btn_1 li {
	margin: 10px;
}

.btn_1 li a {
	display: inline-block;
	width: 50px;
	height: 50px;
	text-align: center;
	padding-top: 10px;
	box-sizing: border-box;
	border-radius: 50%;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
	background: #f5f3eb;
	border: 2px solid #5b443b;
	color: #5b443b;
	font-weight: bold;
	opacity: 0.7;
	transition: all 0.3s;
}

.btn_1 li a:hover{
	background-color: #5b443b;
	color: #f5f3eb;
	opacity: 1;
	transition: all 0.3s;
}
